*.pyc
*~
\#*\#
.\#*
*.mo
/cc/.txconfig
/cc/settings/local.py
/develop.sh
/django
/mediagenerator
/south
uploads
/data
/cc/settings/secret_key.py
/cc/SECRET_KEY.txt
_generated_media
_generated_media_names.py
