{% extends "home_base.html" %}
{% load media %}

{% block title %}Set Your Location{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
{% include_media 'geo.js' %}
<script type="text/javascript">
	{% include "locator.js" %}
</script>
{% endblock %}

{% block content %}
<h2>Set Your Location</h2>

<form id="loc_search_form">
	<input id="loc_search" type="text" />
	<input type="submit" value="Map" />
</form>

{# TODO: Move styles to css. #}
<div id="map_canvas" style="width:560px; height:400px; float:left;"></div>
<form action="" method="post" style="float:left">
	{% csrf_token %}
	<table>
		{{ form }}
		<tr>
			<th></th>
			<td><input type="submit" value="Set Location" /></td>
		</tr>
		{% if profile and request.location and request.location != profile.location %}
			<tr>
				<th></th>
				<td><input type="submit" name="clear" value="Reset to Home" /></td>
			</tr>
		{% endif %}
	</table>
</form>
{% endblock %}

