{% extends "feed_item.html" %}
{% load image %}

{% block user_photo %}
	{% if item.image %}{{ item.image|resize:"80x80" }}
	{% else %}{{ item.feed_poster.photo|resize:"80x80"|default_img:'img/generic_user_80x80.png' }}
	{% endif %}
{% endblock %}

{% block content_box %}
<a href="{{ item.get_absolute_url }}"
   ><h3 class="feed_item_title">{{ item.title }}</h3></a>
<br>
<a href="{{ item.feed_poster.get_absolute_url }}"
   ><h3 class="feed_item_title">{{ item.feed_poster }}</h3></a>
- {{ item.date }}
{% if item.location %}- {{ item.location }}{% endif %}

{# TODO: Truncate text and add a "more" link if needed. #}

{{ item.text|linebreaks }}

<ul class="feed_item_actions nav">
	<li><a href="{{ item.get_absolute_url }}">Link</a></li>
	{% if can_edit %}
		<li><a href="{% url edit_post item.id %}">Edit</a></li>
	{% endif %}
	<li><a href="{% url contact item.feed_poster.username %}">Contact</a></li>
</ul>
{% endblock %}
