{% extends "home_base.html" %}

{% block title %}{% if form.instance.id %}Edit{% else %}New{% endif %} Post{% endblock %}

{% block nav_new_post_class %}
	{% if not form.instance.id %}selected{% endif %}
{% endblock %}

{% block content %}
<h2>{% if form.instance.id %}Edit{% else %}New{% endif %} Post</h2>

{% if form.instance.id %}
	<p><a href="{{ post.get_absolute_url }}">View post</a></p>
{% endif %}

<form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<table class="form">
		<tr>
			<th><a href="{% url locator %}?next={{ request.path }}">
					Location</a>:</th>
			<td>{{ request.profile.location }}</td>
		</tr>
		{{ form }}
		<tr>
			<th></th>
			<td><input type="submit" value="Save Post" /></td>
		</tr>
	</table>
</form>
{% endblock %}
