{% extends "feed_item.html" %}

{% block user_photo_url %}{{ item.endorser.photo.url }}{% endblock %}

{% block content %}
<p>
	{% ifequal request.profile item.endorser %}
		You
	{% else %}
		<a href="{{ item.endorser.get_absolute_url }}">{{ item.endorser }}</a> 
	{% endifequal %}
	endorsed 
	{% ifequal request.profile item.recipient %}
		you
	{% else %}
		<a href="{{ item.recipient.get_absolute_url }}">{{ item.recipient }}</a>
	{% endifequal %}
	with {{ item.weight }} heart{{ item.weight|pluralize:"s" }}.
</p>

{% if can_edit %}
<ul class="nav">
	<li><a href="{% url endorse_user item.recipient.username %}">Edit</a></li>
</ul>
{% endif %}
{% endblock %}
