{% extends "profile_base.html" %}

{% block title %}Acknowledge {{ recipient }}{% endblock %}

{% block nav_acknowledge_class %}selected{% endblock %}

{% block content %}
<h2>Acknowledge {{ recipient }}</h2>

<div class="feature">
	<p>There are two ways to send acknowledgement:
	<ol>
		<li><strong>Route an acknowledgement</strong> through the
			trust network so the recipient receives it only from
			people they have endorsed, and only up to the number of
			hearts they have given to each.
		</li>
		<li><strong>Send a direct acknowledgement</strong> of any
			number of hours directly to the recipient, even if they
			haven't endorsed you.
		</li>
	</ol>
	<p><a href="{% url how_it_works %}">Read more</a></p>
	<p>Acknowledgements are only visible to you, the recipient, and for
		routed acknowledgements, anyone on the path the acknowlegdement 
		takes between you and the recipient.
	</p>
</div>
{% if can_ripple %}
	<p>You can route a trusted acknowledgement of up to {{ max_amount }} 
		hour{{ max_amount|pluralize:"s" }}, or send a direct
		acknowledgement of any amount.
	</p>
{% else %}
	<p>There are no available paths through the trust network to {{ recipient }},
		so you can only send direct acknowledgement.
	</p>
{% endif %}
		
<form action="" method="post">
	{% csrf_token %}
	<table class="form">
		{{ form }}
		<tr>
			<th></th>
			<td><input type="submit" value="Send Acknowledgement"></td>
		</tr>
	</table>
</form>
{% endblock %}
