{% extends "profile_base.html" %}

{% block title %}Acknowledge {{ recipient }}{% endblock %}

{% block nav_acknowledge_class %}selected{% endblock %}

{% block content %}
<h2>Acknowledge {{ recipient }}</h2>

<div class="feature">
	<p>There are two ways to send acknowledgement:
	<ol>
		<li>Route an acknowledgement through the trust network so the recipient
			receives acknowledgement from someone they have endorsed.
		</li>
		<li>Send an acknowledgement directly to the recipient, even
			if they don't trust you.
		</li>
	</ol>
	<p><a href="{% url about %}">Read more</a></p>
	<p>Acknowledgements are only visible to you, the recipient, and for
		routed acknowledgements, anyone on the path the acknowlegdement 
		takes between you and the recipient.
	</p>
</div>
{% if can_ripple %}
	<p>You can route a trusted acknowledgement of up to {{ max_amount }} 
		hour{{ max_amount|pluralize:"s" }}, or send a direct
		acknowledgement.
	</p>
{% else %}
	<p>There are no available paths through the trust network to {{ recipient }},
		so you can only send direct acknowledgement.
	</p>
{% endif %}
		
<form action="" method="post">
	{% csrf_token %}
	<table class="form">
		{{ form }}
		<tr>
			<th></th>
			<td><input type="submit" value="Send Acknowledgement"></td>
		</tr>
	</table>
</form>
{% endblock %}
