{% extends "home_base.html" %}
{% load profile %}

{% block title %}
	{{ endorsement.endorser }} Endorses {{ endorsement.recipient }}
{% endblock %}

{% block content %}
	<h3>{% profile_display endorsement.endorser request endorsement.endorser %}
		Endorses 
		{% profile_display endorsement.recipient request endorsement.recipient %}
	</h3>

	<table class="data">
		<tr>
			<th>Date</th> 
			<td>{{ endorsement.updated }}</td>
		</tr><tr>
			<th>Hearts</th>
			<td>{{ endorsement.weight }}</td>
		</tr>
	</table>
	
	<div class="teaser">{{ endorsement.text|linebreaks }}</div>

	{% ifequal request.profile endorsement.endorser %}
		<p><a href="{% url endorse_user endorsement.recipient.username %}"
			  >Edit</a></p>
	{% endifequal %}

{% endblock %}
