{% extends "profile_base.html" %}

{% block title %}Endorse {{ recipient }}{% endblock %}

{% block nav_endorse_class %}selected{% endblock %}

{% block content %}
<h2>Endorse {{ recipient }}</h2>

{% if form.instance.id %}
	<p>You have already endorsed {{ recipient }}.  You can edit the endorsement below.</p>
{% endif %}

<form action="" method="post">
	{% csrf_token %}
	<table>
		{{ form }}
		<tr>
			<th></th>
			<td><input type="submit" value="Save Endorsement" /></td>
		</tr>
	</table>
</form>
{% endblock %}
