{% extends "profile_base.html" %}
{% load i18n %}
{% load relate %}

{% block title %}{% trans 'Relationship With' %} {{ profile }}{% endblock %}

{% block nav_relationship_class %}selected{% endblock %}

{% block content %}
<h2>{% trans 'Relationship With' %} {{ partner }}</h2>

<div class="feature">
	<table class="data">
		<tr>
			<th>{% trans 'Current Balance' %}</th>
			<td>{{ balance }} {% trans 'hours' %}</td>
		</tr>
		{% if account.partner_endorsement %}
			<tr>
				<th><a href="{{ account.partner_endorsement.get_absolute_url }}"
					  >{% blocktrans %}{{ partner }}'s endorsement of you{% endblocktrans %}</a></th>
				<td>{{ account.partner_endorsement.weight }}
					{% trans 'heart' %}{{ account.partner_endorsement.weight|pluralize:"s" }}</td>
			</tr>
		{% endif %}
		<tr>
			{% if account.endorsement %}
				<th><a href="{{ account.endorsement.get_absolute_url }}"
					  >{% trans 'Your endorsement of' %} {{ partner }}</a></th>
				<td>{{ account.endorsement.weight }}
					{% trans 'heart' %}{{ account.endorsement.weight|pluralize:"s" }}</td>
			{% else %}
				<th><a href="{% url endorse_user partner.username %}"
					   >{% trans 'Endorse' %} {{ partner }}</a></th>
			{% endif %}
		</tr>
	</table>
</div>

<h3>Entries</h3>
{% if entries %}
	<table class="data">
		<tr>
			<th>{% trans 'Date' %}</th>
			<th>{% trans 'Description' %}</th>
			<th class="number_header">{% trans 'Received' %}</th>
			<th class="number_header">{% trans 'Sent' %}</th>
			<th class="number_header">{% trans 'Balance' %}</th>
		</tr>
		{% for entry in entries %}
			<tr>
				<td>{{ entry.date|date }}</td>
				<td><a href="{% url view_acknowledgement entry.payment_id %}"
					   >{% entry_description entry request.profile %}</a></td>
				<td class="number">{{ entry.received|default:"" }}</td>
				<td class="number">{{ entry.sent|default:"" }}</td>
				<td class="number">{{ entry.new_balance }}</td>
			</tr>
		{% endfor %}
	</table>
{% else %}
	<p><em>{% trans 'No entries.' %}</em></p>
{% endif %}
{% endblock %}
