{% extends "home_base.html" %}

{% block title %}My Relationships{% endblock %}

{% block nav_relationships_class %}selected{% endblock %}

{% block content %}
<h2>My Relationships</h2>

{% if accounts %}
<table class="data">
	<tr>
		<th>Name</th>
		<th>Their Endorsement Of You</th>
		<th>Promise Balance</th>
		<th>Your Endorsement of Them</th>
	</tr>
	{% for account in accounts %}
		<tr>
			<td><a href="{% url relationship account.partner.username %}"
				   >{{ account.partner }}</a></td>
			<td>{{ account.out_limit }}</td>
			<td>{{ account.balance }}</td>
			<td>{{ account.in_limit }}</td>
		</tr>
	{% endfor %}
</table>
{% else %}
	<p><em>No relationships yet.</em></p>
{% endif %}

{% endblock %}
