{% extends "profile_base.html" %}

{% block title %}Relationship with {{ profile }}{% endblock %}

{% block nav_relationship_class %}selected{% endblock %}

{% block content %}
{% if entries %}
<table class="data">
	<tr>
		<th>Date</th>
		<th class="number_header">Received</th>
		<th class="number_header">Sent</th>
		<th class="number_header">Balance</th>
	</tr>
	{% for entry in entries %}
		<tr>
			<td><a href="{% url view_promise entry.payment_id %}"
				   >{{ entry.date }}</a></td>
			<td class="number">{{ entry.received|default:"" }}</td>
			<td class="number">{{ entry.sent|default:"" }}</td>
			<td class="number">{{ entry.new_balance }}</td>
		</tr>
	{% endfor %}
	</table>
{% else %}
	<p><em>No entries.</em></p>
{% endif %}
{% endblock %}
