<table class="data">
	<tr title="Sum of all promises sent and received, but only from trusted partners">
		<th>Trusted Balance</th>
		<td>{{ request.profile.trusted_balance }} hours</td>
	</tr>
	<tr title="Sum of all promises sent and received">
		<th>Overall Balance</th>
		<td>{{ request.profile.overall_balance }} hours</td>
	</tr>
	<tr>
		<th>Total Endorsements Received</th>
		<td>{{ request.profile.endorsement_sum }} 
			heart{{ request.profile.endorsement_sum|pluralize:"s" }}</td>
	</tr>
	<tr>
		<th>Total Endorsements Made</th>
		<td>{{ request.profile.endorsements_made_sum }}
			heart{{ request.profile.endorsements_made_sum|pluralize:"s" }}</td>
	</tr>
</table>
