{% extends "profile_base.html" %}

{% block title %}Relationship with {{ profile }}{% endblock %}

{% block content %}
<h2>Promise History with {{ profile }}</h2>

<p><a href="{{ profile.get_absolute_url }}">{{ profile }}'s Profile</a></p>

{% if entries %}
<table class="data">
	<tr>
		<th>Date</th>
		<th>Received</th>
		<th>Sent</th>
		<th>Balance</th>
	</tr>
	{% for entry in entries %}
		<tr>
			<td>{{ entry.date }}</td>
			<td>{{ entry.received|default:"" }}</td>
			<td>{{ entry.sent|default:"" }}</td>
			<td>{{ entry.new_balance }}</td>
		</tr>
	{% endfor %}
	</table>
{% else %}
	<p><em>No entries.</em></p>
{% endif %}
{% endblock %}
