{% extends "home_base.html" %}
{% load number %}

{% block title %}
	Promise
{% endblock %}

{% block content %}
	<h2>Promise</h2>
	<div class="feature">
		<table class="data">
				<tr>
					<th>From</th>
					<td><a href="{{ payment.payer.get_absolute_url }}"
						   >{{ payment.payer }}</a></td>
				</tr>
				<tr>
					<th>To</th>
					<td><a href="{{ payment.recipient.get_absolute_url }}"
						   >{{ payment.recipient }}</a></td>
				</tr>
				<tr>
					<th>Amount</th>
					<td>{{ payment.amount|trim_zeroes }} 
						hour{{ payment.amount|pluralize:"s" }}</td>
				</tr>
			<tr>
				<th>Time</th>
				<td>{{ payment.date }}</td>
			</tr>
		</table>
		
		{{ payment.memo|linebreaks }}
	</div>

	{% if received_entries %}
		<h3>Received</h3>
		{% with received_entries as entries %}
			{% include "payment_entries.html" %}
		{% endwith %}
	{% endif %}

	{% if sent_entries %}
		<h3>Sent</h3>
		{% with sent_entries as entries %}
			{% include "payment_entries.html" %}
		{% endwith %}
	{% endif %}
{% endblock %}
