{% load media %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Villages.cc - {% block title %}{% endblock %}</title>
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	{% include_media "content.css" %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	{% block extrahead %}{% endblock %}
</head>
<body class="page">
<div class="head">
	<div class="logo_nav_line extend line">
		<h1 class="logo"><a href="{% url home %}">Villages.cc</a></h1>

		<span class="site_nav nav">
			<li><a href="{% url home %}">Feed</a></li>
			{% if user.is_authenticated %}
				<li><a href="{{ user.get_profile.get_absolute_url }}">Profile</a></li>
			{% endif %}
			<li><input name="q" type="text" value="Search"></li>
		</span>

		<div class="right_nav">
			<a href="{% url locator %}?next={{ request.path }}"
			   >{{ request.location|default:"Set Location" }}</a>
		</div>
		<div class="right_nav nav">
			{% if user.is_authenticated %}
				<li><a href="{{ request.profile.get_absolute_url }}"
					   >{{ request.profile }}</a></li>
				<li><a href="{% url logout %}">Logout</a></li>
			{% else %}
				<li><a href="{% url login %}?next={{ request.path }}">Login</a></li>
				<li><a href="{% url register %}">Register</a></li>
			{% endif %}
		</div>
	</div>

	{% block subnav %}{% endblock %}
</div>

<div class="main">
	{% if messages %}
		<ul class="messages">
		{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
		</ul>
	{% endif %}
	{% block content %}{% endblock %}
</div>
</body>
