{% load media %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Villages.cc - {% block title %}{% endblock %}</title>
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	{% include_media "content.css" %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	{% include_media "common.js" %}
	{% block extrahead %}{% endblock %}
</head>
<body>
<div class="head">
	<div class="logo_nav_line extend"><div class="line page">
		<h1 class="logo"><a href="{% url home %}">Villages.cc</a></h1>

		<span class="site_nav nav">
			<li><a href="{% url home %}">Home</a></li>
			<li>
				<form class="inline_form" action="{% url search_posts %}" method="get">
					<input id="global_search_input" name="q" type="text" value="Search">
				</form>
			</li>
		</span>

		<div class="right_nav">
			<li>About</li>
			<li>Feedback</li>
		</div>
	</div></div>

	{% if messages %}
		<div class="message_line line page">
			<div class="messages">
			{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}
					  >&raquo; {{ message }}</li>
			{% endfor %}
			</div>
		</div>
	{% endif %}
</div>

<div class="page">
	{% block page %}
		<div class="subnav_bar">
			{% block subnav_box %}
				<div class="subnav_image">
					{% block subnav_image %}{% endblock %}
				</div>
				<h2 class="subnav_title">{% block subnav_title %}{% endblock %}</h2>
				<div class="subnav">
					{% block subnav %}{% endblock %}
				</div>
			{% endblock %}
		</div>

		<div class="content_box">
			{% block content %}{% endblock %}
		</div>

		<div class="context_bar">
			<div class="actions">
				{% block actions %}
					<li class="{% block nav_location_class %}{% endblock %}">
						<a href="{% url locator %}?next={{ request.path }}"
						   >{{ request.location|default:"Set Location" }}</a></li>
					<hr>
					{% if request.profile %}
						<li><a href="{{ request.profile.get_absolute_url }}"
							   >{{ request.profile }}</a></li>
						<li>Account Settings</li>
						<li><a href="{% url logout %}">Logout</a></li>
					{% else %}
						<li><a href="{% url register %}">Register</a></li>
						<li><a href="{% url login %}?next={{ request.path }}">Login</a></li>
					{% endif %}
					<hr>
					{% if request.profile %}
						<li class="{% block nav_new_post_class %}{% endblock %}">
							<a href="{% url new_post %}">New Post</a></li>
					{% endif %}
					<li><a href="{% url search_posts %}">Search Posts</a></li>
					<li><a href="{% url search_profiles %}">Search People</a></li>
				{% endblock %}
			</ul>
		</div>
	{% endblock %}
</div>
</body>
