{% load media %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Villages.cc - {% block title %}{% endblock %}</title>
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	{% include_media "content.css" %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#global_search_input").focus(function() {
				$(this).val('');
			}).blur(function() {
				if ($(this).val() == '') $(this).val('Search')
			});
		});
	</script>
	{% block extrahead %}{% endblock %}
</head>
<body>
<div class="head">
	<div class="logo_nav_line extend"><div class="line page">
		<h1 class="logo"><a href="{% url home %}">Villages.cc</a></h1>

		<span class="site_nav nav">
			<li class="{% block nav_feed_class %}{% endblock %}">
				<a href="{% url feed %}">Feed</a></li>
			{% if user.is_authenticated %}
				<li class="{% block nav_profile_class %}{% endblock %}">
					<a href="{{ user.get_profile.get_absolute_url }}">Profile</a></li>
			{% endif %}
			<li class="{% block nav_search_class %}{% endblock %}">
				<form class="inline_form" action="{% url search_posts %}" method="get">
					<input id="global_search_input" name="q" type="text" value="Search">
				</form>
			</li>
		</span>

		<div class="right_nav">
			<a href="{% url locator %}?next={{ request.path }}"
			   >{{ request.location|default:"Set Location" }}</a>
		</div>
		<div class="right_nav nav">
			{% if user.is_authenticated %}
				<li><a href="{{ request.profile.get_absolute_url }}"
					   >{{ request.profile }}</a></li>
				<li><a href="{% url logout %}">Logout</a></li>
			{% else %}
				<li><a href="{% url login %}?next={{ request.path }}">Login</a></li>
				<li><a href="{% url register %}">Register</a></li>
			{% endif %}
		</div>
	</div></div>

	{% block subnav_box %}{% endblock %}
</div>

<div class="page">
	<div class="rightCol">
		<ul class="actions">
			{% block actions %}{% endblock %}
		</ul>
	</div>

	<div class="main">
		{% if messages %}
			<ul class="messages">
			{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
			</ul>
		{% endif %}
		{% block content %}{% endblock %}
	</div>
</div>
</body>
