{% extends "base.html" %}
{% load media profile number %}

{% block subnav_image %}
	{% with request.profile as profile %}
		{% include "profile_image.html" %}
	{% endwith %}
{% endblock %}

{% block subnav_title %}
	{% if request.profile %}
		<a href="{{ request.profile.get_absolute_url }}">{{ request.profile }}</a>
	{% else %}Guest Visitor{% endif %}
{% endblock %}

{% block subnav %}
	<li class="{% block nav_feed_class %}{% endblock %}">
		<a href="{% url feed %}">Feed</a></li>
	{% if request.profile %}
		<li class="{% block nav_info_class %}{% endblock %}">
			<a href="{{ request.profile.get_absolute_url }}">Info</a></li>
		<li class="{% block nav_posts_class %}{% endblock %}">
			<a href="{% url profile_posts request.profile.username %}"
			   >Posts</a></li>
		<li class="{% block nav_relationships_class %}{% endblock %}"
			><a href="{% url relationships %}">Relationships</a></li>
		<hr>
		<li class="{% block nav_edit_profile_class %}{% endblock %}">
			<a href="{% url edit_profile %}">Edit My Profile</a></li>
	{% else %}
		<li class="{% block nav_register_class %}{% endblock %}">
			<a href="{% url check_invitation %}">Join</a></li>
		<li class="{% block nav_login_class %}{% endblock %}">
			<a href="{% url login %}">Login</a></li>
	{% endif %}
{% endblock %}
