{% extends "no_subnav_base.html" %}

{% block title %}Trade in a Network of Overlapping Villages{% endblock %}

{% block content %}
	<h2>Villages Community Currency: Trade in a Network of Overlapping Villages</h2>

	<h3>Discover Nearby People You Can Trust</h3>

	<p>By adding trusted friends to your village, you recommend
		them to others, and use their recommendations to help find
		reliable new people to trade with.</p>

	<h3>Pay With Promises</h3>

	<p>To buy something in Villages, you simply give your word that
		you will give back equal value in the future.
		When you sell, the buyer's promises are converted into promises 
		from someone you trust using
		<a href="{% url about_ripple %}">Ripple technology</a>,
		meaning you don't have to worry about trusting the buyer directly.
	</p>

	<h3>Change The World</h3>

	<p>By working for friends and neighbors in our community, rather
		than for banks and corporations, and issuing our own money rather
		than using theirs, we take control of our own economic destiny.</p>

	<p><a href="">Read More</a></p>
{% endblock %}
