{% extends "about_base.html" %}
{% load i18n %}

{% block title %}{% trans 'Donate' %}{% endblock %}

{% block content %}
{{ block.super }}

<h3>{% trans 'Support Villages with your Donation' %}</h3>

<p>{% blocktrans %}There are three ways you can donate to help keep Villages
	running and support its continued development:{% endblocktrans %}</p>

<h4>{% trans '1. Send Acknowledgement' %}</h4>

<p>
{% if request.profile %}
	<a href="{% url acknowledge_user 'villages' %}"
		>{% trans 'Acknowledge the work of Villages developers.' %}</a>
{% else %}
	{% blocktrans %}Acknowledge the work of Villages developers
		(must be registered and logged in').{% endblocktrans %}
{% endif %}
	{% blocktrans %}This helps them receive goods and services from others
		in the network.{% endblocktrans %}
</p>

<h4>{% trans '2. Paypal' %}</h4>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="CWE7SQESWX8R8">
	<input type="image"
		src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif"
		border="0" name="submit"
		alt="PayPal - The safer, easier way to pay online!">
	<img alt="" border="0"
		src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
		width="1" height="1">
</form>

<p>{% blocktrans %}Until the developers can survive on acknowledgements
	alone, donating national currency helps pay hosting costs and things
	like rent.{% endblocktrans %}</p>

<h4>{% trans '3. Bitcoin' %}</h4>

<p>{% blocktrans %}Villages and other
	<a href="http://ripple-project.org">Ripple</a> systems are built on
	decentralized trust &ndash; <a href="http://bitcoin.org/">Bitcoin</a>
	is built on decentralized transactions. Check it out if you haven't
	already.{% endblocktrans %}</p>

<p>{% blocktrans %}You can donate Bitcoins to
	<strong>16UDi2BbzLHS2LKa6ENbsZCkhV5ZkHyQKD</strong>{% endblocktrans %}</p>

<p>{% trans 'Thanks!' %}</p>
{% endblock %}
