{% extends "no_subnav_base.html" %}

{% block title %}A Cooperative Community Of Overlapping Villages{% endblock %}

{% block content %}
	<h2>Villages Cooperative Community: The New Local Economy</h2>

	<h3>Discover Nearby People You Can Trust</h3>

	<p>The foundation of Villages is a trust network that you help create
		by endorsing friends who have something to contribute to the
		community.  Find friends-of-friends that have the skills you need,
		or interesting projects you can help with.
	</p>

	<h3>Help Each Other Out</h3>

	<p>Search for what you want.  Post what you have.
		When someone helps you, acknowledge the help.  When you help someone,
		receive acknowledgement.
		Villages uses <a href="http://ripple-project.org/">Ripple technology</a>
		to allow acknowledgements to be received through trusted friends,
		making them more meaningful.
	</p>

	<h3>Change The World</h3>

	<p>By working for friends and neighbors in our community, rather
		than for banks and corporations, and issuing our own acknowledgements
		rather than using their money, we take control of our own economic 
		destiny.
	</p>

	<p><a href="{% url about %}">Read More</a></p>
{% endblock %}
