{% extends "about_base.html" %}
{% load i18n %}

{% block title %}{% trans 'Motivation' %}{% endblock %}

{% block content %}
{{ block.super }}

<h3>{% trans 'Motivation' %}</h3>

<p>{% blocktrans %}The goal of Villages is to help people do what they
	love, rather than what they fear they must.{% endblocktrans %}</p>

<p>{% blocktrans %}Many of us struggle with the contradiction between
	what we want to do, and and what we need to do to earn money to
	live. Rather than change our hearts to suit what money asks of us,
	we want to change money to suit what is in our hearts.
	{% endblocktrans %}</p>

<p>{% blocktrans %}We want to create a system of interconnected,
	overlapping economic villages, where personal relationships take
	precedence over numbers, and each person is supported in following
	their passion.{% endblocktrans %}</p>

<h3>{% trans 'The Problem With Money' %}</h3>

<p>{% blocktrans %}When we use regular money, we are participating
	in a system of tokens whose supply is centrally managed for the
	purposes of:{% endblocktrans %}</p>

<ul>
	<li>{% trans 'Price stability' %}</li>
	<li>{% trans 'Low unemployment' %}</li>
	<li>{% trans 'Foreign trade' %}</li>
	<li>{% trans 'Steady growth in transaction volume (GDP)' %}</li>
</ul>

<p>{% blocktrans %}In other words, those who issue the money work
	to ensure that it finds its way into hands that are going to
	accomplish these goals. Notably absent are goals that actually
	matter to most of us, such as:{% endblocktrans %}</p>

<ul>
	<li>{% trans 'Happiness' %}</li>
	<li>{% trans 'Love' %}</li>
	<li>{% trans 'Peace' %}</li>
	<li>{% trans 'Building relationships' %}</li>
	<li>{% trans 'Strong local communities' %}</li>
	<li>{% trans 'Health' %}</li>
	<li>{% trans 'Maintaining a clean environment' %}</li>
	<li>{% trans 'Fun!' %}</li>
</ul>

<p>{% blocktrans %}Of course, these goals are subjective, messy, often
	political, and not fitting aims for a central bank committee to be
	pursuing on our behalf. But why must we settle for a system of money
	whose values are not our own just so it can be managed appropriately
	by a central committee?{% endblocktrans %}</p>

<p>{% blocktrans %}Before banks, countries, and central committees, in
	villages where everyone knew everyone else, people didn't need money
	&ndash; they just offered what was needed, and kept track in their
	heads, in <a href="http://bit.ly/qUOdnN">a system of gifts and
	obligations</a>. Because they could keep track amongst themselves,
	they never had to worry about the abstract values of their economic
	system trumping their values as human beings. They <em>were</em>
	their own economic system, and their values were its values.
	{% endblocktrans %}</p>

<p>{% blocktrans %}Once economies became larger, and trade grew to involve
	more and more strangers, more abstract systems of keeping score
	developed. Many of us became materially richer, but we lost some of
	our autonomy, and much of our connection to the people around us. We
	need systems that not only allow us to cooperate in creating material
	abundance, but support our individual dreams and collective ties as
	well.{% endblocktrans %}</p>

<h3>{% trans 'Money For People' %}</h3>

<p>{% blocktrans %}We are all connected.
	Any two people on the planet are bound to be linked by a web of
	personal relationships. Instead of using money to cooperate with each
	other, two strangers can give to each other like friends, and have the
	resulting obligations borne by the web of personal relationships
	connecting them. All we really need is a system for finding these
	connections.{% endblocktrans %}</p>

<p>{% blocktrans %}That system is called
	<a href="http://ripple-project.org/">Ripple</a>, the technology that
	powers the Villages marketplace.{% endblocktrans %}</p>

{% endblock %}
