{% extends "about_base.html" %}

{% block title %}Privacy{% endblock %}

{% block content %}
{{ block.super }}

<h3>Privacy</h3>

<p>Since Villages is meant for discovering people in your area, 
	most information you give is <strong>not private</strong>.
	This includes:
</p>

<ul>
	<li>Your profile information</li>
	<li>Your posts</li>
	<li>Endorsements given and received (these are only available to registered users)</li>
	<li>You overall acknowledgement balance</li>
</ul>

<p>Things that are completely or relatively private:</p>

<ul>
	<li>Your email address</li>
	<li>The contents of any messages sent to other users</li>
	<li>Individual acknowledgement balances with other users</li>
	<li>Details of acknowledgements given and received
		<ul>
			<li>When you send an acknowledgement through the network,
				the details are shared with users who are on the path
				travelled by the acknowledgement from sender to recipient</li>
		</ul>
		<ul>
			<li>Acknowledgement details may be available to more users in the 
				future due to upcoming features.
			</li>
		</ul>
	</li>
</ul>

<p>Please do not use Villages thinking that other users will not be able to
	see details of your activities.  
	Once Villages has grown to a certain number of users, we may add the option
	to keep more of your details private.  
	However, to start with, we're building a service for people who want to 
	put themselves out there and connect with others in their community.
</p>
<p>If you want to try a Ripple system with more privacy, please check out
	<a href="http://ripplepay.com/">Ripplepay</a>.
	You may find it difficult to meet anybody there though :)
</p>

<h3>Real Names &amp; Handles</h3>

<p>Villages does <strong>not</strong> require you to use your real name or
	reveal your real-world identity in any way, so feel free to use any 
	handle that your friends can recognize.
</p>

<h3>Tracking</h3>

<p>Villages will not do creepy things like track your every click or sell your
	data to third parties.  That isn't who we are.
</p>
<hr>

<p>If you have any concerns about privacy, please <a href="{% url feedback %}">
		send us feedback</a>
</p>

{% endblock %}
