/* Site-specific CSS. */

a {
	color: brown;
}

.extend {
	padding: 10px 2000px;
	margin: 0 -2000px;
}

.logo_nav_line {
	background-color: #ccc;
	border-bottom: 1px solid #aaa
}

.subnav_line {
	background-color: #eee;
}

.logo {
	display: inline;
}

.subnav_title {
	display: inline;
	margin-left: 1em;
}

.nav li {
	display: inline;
	margin-right: 2em;
}

.site_nav {
	margin-left: 2em;
	font-size: 125%;
}

.subnav {
	margin-left: 2em;
}

.location {
	float: right;
}

.right_nav {
	float: right;
	clear: right;
}

.right_nav li {
	margin-right: 0;
	margin-left: 2em;
}

