/********* Global *********/

a {
	color: brown;
}

.extend {
	padding: 10px 2000px;
	margin: 0 -2000px;
}

.logo_nav_line {
	background-color: #ccc;
	border-bottom: 1px solid #aaa
}

.subnav_line {
	background-color: #eee;
}

.logo {
	display: inline;
}

.subnav_title {
	display: inline;
	margin-left: 1em;
}

.nav li {
	display: inline;
	margin-right: 2em;
}

.site_nav {
	margin-left: 2em;
	font-size: 125%;
}

.subnav {
	margin-left: 2em;
}

.location {
	float: right;
}

.right_nav {
	float: right;
	clear: right;
}

.right_nav li {
	margin-right: 0;
	margin-left: 2em;
}

.main {
	display: block;  /* OOCSS templates.css has this as table-cell - why? */
	margin-top: 1.5em;
}

/********** Feed ***********/

.feed_item {
	margin-bottom: 1em;
}

.feed_item_user {
	margin-right: 1em;
}

.feed_item_title {
	display: inline;
}

/********* Relationships **********/

.relationship_table th, .relationship_table td {
	padding: 3px 5px;
}