/********* Global *********/

body {
	color: #333;
	margin: 0;
}

a {
	color: brown;
}

.extend {
	padding: 10px 0;
	overflow: hidden;
}

.logo_nav_line {
	background-color: #ccc;
	border-bottom: 1px solid #aaa;
}

.subnav_line {
	background-color: #eee;
}

.logo {
	display: inline;
}

.subnav_title {
	display: inline;
	margin-left: 1em;
}

.nav li {
	display: inline;
	padding: 10px 1em 50px;
	margin-bottom: -50px;
}

.site_nav {
	margin-left: 1em;
	font-size: 125%;
}

.subnav {
	margin-left: 1em;
}

.nav_highlight {
	background: #555;
	color: white;
	a { color: white; }
	border-radius: 5px 5px 0 0;
}

.location {
	float: right;
}

.right_nav {
	float: right;
	clear: right;
}

.right_nav li {
	margin-right: 0;
	margin-left: 2em;
}

.main {
	display: block;  /* OOCSS templates.css has this as table-cell - why? */
	margin-top: 1.5em;
}

.data th, .data td {
	padding: 3px 5px;
}

.errorlist {
	color: brown;
}

.helptext {
	font-size: 80%;
	font-style: italic;
}

.inline_form {
	display: inline;
}

.rightCol {
	padding-top: 30px;
	margin-top: -30px;
	width: 150px;
	border: 1px solid #eee;
	padding-left: 2em;
}

.actions {
	margin-top: 0;
}

/********** Feed ***********/

.feed_item {
	margin-bottom: 1em;
}

.feed_item_user {
	margin-right: 1em;
	width: 80px;
}

.feed_item_title {
	display: inline;
}

