{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% load url from future %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Send Email Update to Users' %}
{% endblock %}

{% block content %}
<div id="content-main">
	<h2>{% trans 'Send Email Update to Users' %}</h2>
	<div class="module">
		<form action="" method="post">
			{% csrf_token %}
			<table>
				{{ form }}
				<tr>
					<th></th>
					<td><input type="submit" value="{% trans 'Send' %}"></td>
				</tr>
			</table>
		</form>
	</div>
</div>
{% endblock %}
