{% extends "home_base.html" %}

{% block ready_js %}
	{{ block.super }}
	init_feed_filter_form();
{% endblock %}

{% block nav_feed_class %}selected{% endblock %}

{% block content %}
	<div class="feed_type_filter nav">
		<li class="{% block feed_all_class %}{% endblock %}">
			<a href="{% url feed %}">All</a></li>
		<li class="{% block feed_people_class %}{% endblock %}">
			<a href="{% url profiles %}">People</a></li>
		<li class="{% block feed_posts_class %}{% endblock %}">
			<a href="{% url posts %}">Posts</a></li>
		{% if user.is_authenticated %}
			<li class="{% block feed_endorsements_class %}{% endblock %}">
				<a href="{% url endorsements %}">Endorsements</a></li>
			<li class="{% block feed_promises_class %}{% endblock %}">
				<a href="{% url promises %}">Promises</a></li>
		{% endif %}
	</div>
	<div class="feed_filter_form">
		<form class="inline_form nav" action="" method="get">
			<li class="first">
				{{ form.q }}
				<a id="id_clear" href="javascript:void(0)">Clear</a>
			</li>
			<li>Show within {{ form.radius }}</li>
			<li>Trusted only {{ form.trusted }}</li>
		</form>
	</div>
	{% block pre_feed %}{% endblock %}
	{% include "feed_item_list.html" %}	
{% endblock %}
