{% load profile %}
<div class="feed_item_user unit">
	{% block user %}

		{# TODO: Link image to something useful (profile/post). #}

		<img src="{% block user_photo %}
				  	{% profile_image_url item.feed_poster '80x80' %}
				  {% endblock %}">
	{% endblock %}
</div>
<div class="feed_item_content unit lastUnit">
	{% block content_box %}
		<a href="{{ item.feed_poster.get_absolute_url }}"
		   ><h3 class="feed_item_title">{{ item.feed_poster }}</h3></a>
		- {{ item.date }}
		{% if item.location %}- {{ item.location }}{% endif %}
		{% block content %}{% endblock %}
	{% endblock %}
</div>

