{% extends "home_base.html" %}

{% block nav_feed_class %}selected{% endblock %}

{% block content %}
	<div class="feed_filter nav">
		<li><a href="{% url feed %}">All</a></li>
		<li><a href="{% url profiles %}">People</a></li>
		<li><a href="{% url posts %}">Posts</a></li>
		{% if user.is_authenticated %}
			<li><a href="{% url endorsements %}">Endorsements</a></li>
			<li><a href="{% url promises %}">Promises</a></li>
		{% endif %}
	</div>
	<hr>
	{% block feed_content %}{% endblock %}
{% endblock %}
