{% load profile location humanize %}
<div class="feed_item_user unit">
	{% block user %}
		<img src="{% profile_image_url item.feed_poster '60x60' %}">
	{% endblock %}
</div>
<div class="feed_item_content unit lastUnit">
	<h3 class="feed_item_title">
			{% block title %}{% endblock %}
			{% if item.trusted %}<span title="Trusted User">[T]</span>{% endif %}
	</h3>
	<div class="feed_item_data">
		{% block poster %}{% endblock %}
		{{ item.date }}  {# TODO: Add humanize naturaltime filter here when available. #}
		{% if item.location %}
			- {% relative_location item.location request.location %}
		{% endif %}
	</div>
	<div class="teaser">
		{% block teaser %}{{ item.text|truncatewords:20 }}{% endblock %}
	</div>
</div>

