{% load media %}
<div class="feed_item_user unit">
	{% block user %}

		{# TODO: Proper image resize here. #}

		<img src="{% if item.feed_poster.photo %}{{ item.feed_poster.photo.url }}{% else %}{% media_url 'img/generic_user.png' %}{% endif %}" 
			 height="80">
	{% endblock %}
</div>
<div class="feed_item_content unit lastUnit">
	<a href="{{ item.feed_poster.get_absolute_url }}"
	   ><h3 class="feed_item_title">{{ item.feed_poster }}</h3></a>
	- {{ item.date }}
	{% if item.location %}- {{ item.location }}{% endif %}
	{% block content %}{% endblock %}
</div>
