{% extends "subnav_base.html" %}

{% block subnav_title %}Activity{% endblock %}

{% block subnav %}
	<li><a href="{% url feed %}">All</a></li>
	<li><a href="{% url profiles %}">People</a></li>
	<li><a href="{% url posts %}">Posts</a></li>
	{% if user.is_authenticated %}
		<li><a href="{% url endorsements %}">Endorsements</a></li>
		<li><a href="{% url promises %}">Promises</a></li>
	{% endif %}
{% endblock %}

{% block right_subnav %}	
	{% if user.is_authenticated %}
		<li><a href="{% url new_post %}">New Post</a></li>
	{% endif %}
{% endblock %}
