{% extends "home_base.html" %}
{% load i18n %}

{% block title %}{% trans 'Invite A Friend' %}{% endblock %}

{% block extrahead %}
	{{ block.super }}
	{% include "spinner_js.html" %}
{% endblock %}

{% block nav_invite_class %}selected{% endblock %}

{% block content %}
<h2>{% trans 'Invite A Friend' %}</h2>

<div class="feature">
	<p>{% blocktrans %}If you know someone who would love to participate
		in Villages.cc and has something to contribute to the community,
		please invite them by endorsing them.{% endblocktrans %}</p>

	<p>{% blocktrans %}Each heart represents an hour of value you are
		willing to provide for your friend, trusting that by acknowledging
		your gift, they will return the favour eventually.{% endblocktrans %}</p>

	<p><a href="{% url how_it_works %}">{% trans 'Read more' %}</a></p>

	<p>{% blocktrans %}If your friend accepts your invitation, this
		endorsement will be <strong>public</strong>.{% endblocktrans %}</p>
</div>

{% if request.profile.endorsement_limited %}
<p>
	{% blocktrans count hearts=request.profile.endorsements_remaining %}
		You have <strong>{{ hearts }}</strong> heart remaining to give out.
	{% plural %}
		You have <strong>{{ hearts }}</strong> hearts remaining to give out.
	{% endblocktrans %}
</p>
{% endif %}

{% if request.profile.can_endorse %}
	<form action="" method="post">
		{% csrf_token %}
		<table class="form">
			{{ form }}
			<tr>
				<th></th>
				<td><input type="submit" value="{% trans 'Invite' %}"></td>
			</tr>
		</table>
	</form>
{% else %}
	<p>{% blocktrans %}You need more hearts to invite a friend. You get 5
		hearts for each endorsement you receive.{% endblocktrans %}</p>
{% endif %}

<p><a href="{% url invitations_sent %}"
	>{% trans 'View pending sent invitations' %}</a></p>

{% endblock %}
