{% extends "home_base.html" %}

{% block title %}Invite A Friend{% endblock %}

{% block extrahead %}
	{{ block.super }}
	{% include "spinner_js.html" %}
{% endblock %}

{% block nav_invite_class %}selected{% endblock %}

{% block content %}
<h2>Invite A Friend</h2>

<div class="feature">
	<p>If you know someone who would love to participate in Villages.cc and
		has something to contribute to the community, please invite them by
		endorsing them.</p>
	<p>Each heart represents an hour of value you are willing to
		provide for your friend, trusting that by acknowledging
		your gift, they will return the favour eventually.
	</p>
	<p><a href="{% url about %}">Read more</a></p>
	<p>If your friend accepts your invitation, this endorsement will 
		be <strong>public</strong>.</p>
</div>

{% if request.profile.endorsement_limited %}
	<p>You have <strong>{{ request.profile.endorsements_remaining }}</strong> 
		heart{{ request.profile.endorsements_remaining|pluralize:"s" }} 
		remaining to give out.</p>
{% endif %}

{% if request.profile.can_endorse %}
	<form action="" method="post">
		{% csrf_token %}
		<table class="form">
			{{ form }}
			<tr>
				<th></th>
				<td><input type="submit" value="Invite"></td>
			</tr>
		</table>
	</form>
{% else %}
	<p>You need more hearts to invite a friend.</p>
	
	{# TODO: Instructions on how to get more endorsements. #}

{% endif %}

<p><a href="{% url invitations_sent %}">View pending sent invitations</a></p>

{% endblock %}
