{% extends "profile_base.html" %}
{% load relate %}

{% block title %}Endorsements for {{ profile }}{% endblock %}

{% block nav_endorsements_class %}selected{% endblock %}

{% block content %}
<h2>Endorsements For {{ profile }}</h2>

<div class="feature">
	<table class="data">
		<tr>
			<th>Reputation</th>
			<td>{% reputation profile request.profile %}</td>
		</tr>
		<tr>
			<th>Total Hearts</th>
			<td>{{ profile.endorsement_sum }}</td>
		</tr>
	</table>
	<p>Reputation is how much trust I have in someone, directly, as well as
		indirectly through the network.
		It is equal to the maximum number of acknowledgement hours they could
		send me if all outstanding acknowledgements were wiped away and we 
		started from zero.
	</p>
</div>

{% include "feed_item_list.html" %}
{% endblock %}
