{% extends "profile_base.html" %}

{% block title %}{{ profile }}{% endblock %}

{% block content %}
<p>
{% ifequal user profile.user %}
	<a href="{% url edit_profile %}">Edit my profile</a>
{% else %}
	{% if my_endorsement %}
		You have endorsed this user ({{ my_endorsement.weight }}).
		<a href="{% url endorse_user profile.username %}">Edit endorsement</a>
	{% else %}
		<a href="{% url endorse_user profile.username %}">Endorse this user</a>
	{% endif %}
{% endifequal %}
</p>

{% if profile.photo %}
	<img src="{{ profile.photo.url }}" height="200"/>  {# TODO: Resize properly. #}
{% else %}
	<p>[ no photo ]</p>
{% endif %}

<table>
	<tr>
		<th>Username</th>
		<td>{{ profile.username }}</td>
	</tr><tr>
		<th>Name</th>
		<td>{{ profile.name }}</td>
	</tr><tr>
		<th>Home Location</th>
		<td>{{ profile.location.full_name }}
			{% ifequal user profile.user %}
				| <a href="{% url locator %}?next={{ request.path }}">Change</a> 
			{% endifequal %}
		</td>
	</tr><tr>
		<th>User Since</th>
		<td>{{ profile.user.date_joined|date }}</td>
	</tr><tr>
		<th>Last Online</th>
		<td>{{ profile.user.last_login|date }}</td>
	</tr>
</table>

{{ profile.description|linebreaks }}	
{% endblock %}
