{% extends "subnav_base.html" %}

{% block subnav_title %}{{ profile }}{% endblock %}

{% block subnav %}
	<li><a href="{{ profile.get_absolute_url }}">About</a></li>
	<li><a href="{% url profile_posts profile.username %}">Posts</a></li>
	{% if user.is_authenticated %}
		{% ifequal request.profile profile %}
			<li><a href="{% url relationships %}">Relationships</a></li>
		{% else %}
			<li><a href="{% url profile_endorsements profile.username %}"
				   >Endorsements</a></li>
			<li><a href="{% url relationship profile.username %}">Relationship</a></li>
		{% endifequal %}
	{% endif %}
{% endblock %}

{% block actions %}
	{% if user.is_authenticated %}
		{% ifequal request.profile profile %}
			<li><a href="{% url edit_profile %}">Edit My Profile</a></li>
		{% else %}
			<li><a href="{% url endorse_user profile.username %}">Endorse</a></li>
			<li><a href="{% url promise_user profile.username %}">Promise</a></li>
			<li><a href="{% url contact profile.username %}">Contact</a></li>
		{% endifequal %}
	{% endif %}
{% endblock %}
