{% load profile relate %}
<h2>{{ profile }}</h2>

{% if profile == request.profile %}
	<p><a href="{% url edit_profile %}">Edit My Profile</a></p>
{% endif %}

{% if my_endorsement %}
	<p>You have endorsed this user ({{ my_endorsement.weight }}).
		<a href="{% url endorse_user profile.username %}">Edit endorsement</a>
	</p>
	<hr>
{% endif %}

<div class="feature line">
	<div class="unit">
		<img src="{% profile_image_url profile '150x200' %}">
	</div>

	<div class="profile_fields unit lastUnit">
		<table class="data">
			<tr>
				<th>Name</th>
				<td>{{ profile.name }}</td>
			</tr><tr>
				<th>Username</th>
				<td>{{ profile.username }}</td>
			</tr><tr>
				<th>Home Location</th>
				<td>
					{% if profile == request.profile %}
						<a href="{% url locator %}?next={{ request.path }}">
							{{ profile.location.full_name }}</a>
					{% else %}
						{{ profile.location.full_name }}
					{% endif %}
				</td>
			</tr>

			{% if request.profile %}
				<tr>
					<th>User Since</th>
					<td>{{ profile.user.date_joined|date }}</td>
				</tr><tr>
					<th>Last Online</th>
					<td>{{ profile.user.last_login|date }}</td>
				</tr>
			{% endif %}
		</table>

		{{ profile.description|urlize|linebreaks }}
	</div>
</div>

{% if request.profile %}
	<h3>Relationships Summary</h3>
	{% if profile == request.profile %}
		{% include "relationships_summary.html" %}
		<p><a href="{% url relationships %}">More</a></p>
	{% else %}
		<table class="data">
			<tr title="Max. trusted acknowledgements I would accept from this user">
				<th><a href="{% url profile_endorsements profile.username %}"
					   >Reputation</a></th>
				<td>{% reputation profile request.profile %}</td>
			</tr>
			<tr title="Sum of all acknowledgements sent and received">
				<th>Overall Balance</th>
				<td>{{ profile.overall_balance }} hours</td>
			</tr>
			<tr title="Sum of all acknowledgements sent and received, but only from trusted partners">
				<th>Trusted Balance</th>
				<td>{{ profile.trusted_balance }} hours</td>
			</tr>
			{% if account %}
				<tr>
					<th><a href="{% url relationship profile.username %}"
						   >Balance with Me</a></th>
					<td>{{ account.balance }} hours</td>
				</tr>
			{% endif %}
		</table>
		<p><a href="{% url profile_endorsements profile.username %}">More</a></p>	
	{% endif %}
{% endif %}
