{% extends "profile_base.html" %}
{% load relate %}

{% block title %}Endorsements for {{ profile }}{% endblock %}

{% block nav_endorsements_class %}selected{% endblock %}

{% block content %}
<h2>Endorsements For {{ profile }}</h2>

<div class="feature">
	<table class="data">
		<tr>
			<th>Reputation</th>
			<td>{% reputation profile request.profile %}</td>
		</tr>
		<tr>
			<th>Total Hearts</th>
			<td>{{ profile.endorsement_sum }}</td>
		</tr>
	</table>
	<p>Reputation is how much trust I have in {{ profile }}, through the network.</p>
</div>

{% include "feed_item_list.html" %}
{% endblock %}
