{% load media %}
{% if my_endorsement %}
	<p>You have endorsed this user ({{ my_endorsement.weight }}).
		<a href="{% url endorse_user profile.username %}">Edit endorsement</a>
	</p>
	<hr>
{% endif %}

{# TODO: Resize properly. #}
<div class="line">
	<div class="unit">
		<img src="{{ profile.photo_url }}" height="200"/>  
	</div>

	<div class="profile_fields unit lastUnit">
		<table class="data_table">
			<tr>
				<th>Name</th>
				<td>{{ profile.name }}</td>
			</tr><tr>
				<th>Username</th>
				<td>{{ profile.username }}</td>
			</tr><tr>
				<th>
					{% ifequal profile request.profile %}
						<a href="{% url locator %}?next={{ request.path }}">
							Home Location</a>
					{% else %}
						Home Location
					{% endifequal %}
				</th>
				<td>{{ profile.location.full_name }}</td>
			</tr>

			{% if request.profile %}
				<tr>
					<th>User Since</th>
					<td>{{ profile.user.date_joined|date }}</td>
				</tr><tr>
					<th>Last Online</th>
					<td>{{ profile.user.last_login|date }}</td>
				</tr>
			{% endif %}
		</table>

		{{ profile.description|linebreaks }}	
	</div>
</div>

