{% extends "base.html" %}
{% load relate %}

{% block subnav_image %}
	{% include "profile_image.html" %}
{% endblock %}

{% block subnav_title %}
	<a href="{{ profile.get_absolute_url }}">{{ profile }}</a>
{% endblock %}

{% block profile_summary %}
	{% if request.profile %}
		Trusted Endorsements:
		{% trusted_endorsement_sum profile request.profile %}
		<br>
		{% load_user_account request.profile profile as account %}
		{% if account %}
			Balance: {{ account.balance }}
		{% endif %}
	{% endif %}
{% endblock %}

{% block subnav %}
	<li class="{% block nav_info_class %}{% endblock %}">
		<a href="{{ profile.get_absolute_url }}">Info</a></li>
	<li class="{% block nav_posts_class %}{% endblock %}">
		<a href="{% url profile_posts profile.username %}">Posts</a></li>
	{% if request.profile %}
		<li class="{% block nav_endorsements_class %}{% endblock %}">
			<a href="{% url profile_endorsements profile.username %}"
			   >Endorsements</a></li>
		<li class="{% block nav_relationship_class %}{% endblock %}">
			<a href="{% url relationship profile.username %}"
			   >Relationship</a></li>
		<hr>
		<li class="{% block nav_endorse_class %}{% endblock %}">
			<a href="{% url endorse_user profile.username %}"
			   >Endorse {{ profile }}</a></li>
		<li class="{% block nav_promise_class %}{% endblock %}">
			<a href="{% url promise_user profile.username %}"
			   >Promise {{ profile }}</a></li>
		<li class="{% block nav_contact_class %}{% endblock %}">
			<a href="{% url contact profile.username %}"
			   >Contact {{ profile }}</a></li>
	{% endif %}
{% endblock %}
