{% load profile relate humanize %}
{% load i18n %}
<h2>{{ profile }}</h2>

{% if profile == request.profile %}
	<p><a href="{% url edit_profile %}">{% trans 'Edit My Profile' %}</a></p>
{% endif %}

{% if my_endorsement %}
	<p>{% trans 'You have endorsed this user with' %}
		<strong>{{ my_endorsement.weight }}</strong>
		heart{{ my_endorsement.weight|pluralize:"s" }}.
		<a href="{% url endorse_user profile.username %}">Edit</a>
	</p>
	<hr>
{% endif %}

<div class="feature line">
	<div class="unit">
		<img src="{% profile_image_url profile '150x200' %}">
	</div>

	<div class="profile_fields unit lastUnit">
		<table class="data">
			<tr>
				<th>{% trans 'Name' %}</th>
				<td>{{ profile.name }}</td>
			</tr><tr>
				<th>{% trans 'Username' %}</th>
				<td>{{ profile.username }}</td>
			</tr><tr>
				<th>{% trans 'Home Location' %}</th>
				<td>
					{% if profile == request.profile %}
						<a href="{% url locator %}?next={{ request.path }}">
							{{ profile.location.full_name }}</a>
					{% else %}
						{{ profile.location.full_name }}
					{% endif %}
				</td>
			</tr>

			{% if request.profile %}
				<tr>
					<th>{% trans 'Registered' %}</th>
					<td>{{ profile.user.date_joined|naturalday }}</td>
				</tr>
				{% comment - TODO: last_login != last online time %}
				<tr>
					<th>{% trans 'Last Online' %}</th>
					<td>{{ profile.user.last_login|naturalday }}</td>
				</tr>
				{% endcomment %}
			{% endif %}
		</table>

		{{ profile.description|urlize|linebreaks }}
	</div>
</div>

{% if request.profile %}
	<h3>{% trans 'Relationships Summary' %}</h3>
	{% if profile == request.profile %}
		{% include "relationships_summary.html" %}
		<p><a href="{% url relationships %}">{% trans 'More' %}</a></p>
	{% else %}
		<table class="data">
			<tr title="{% trans 'Max. trusted acknowledgements I would accept from this user' %}">
				<th><a href="{% url profile_endorsements profile.username %}"
					   >{% trans 'Reputation' %}</a></th>
				<td>{% reputation profile request.profile %}</td>
			</tr>
			<tr title="{% trans 'Sum of all acknowledgements sent and received' %}">
				<th>{% trans 'Overall Balance' %}</th>
				<td>{{ profile.overall_balance }} {% trans 'hours'}</td>
			</tr>
			<tr title="Sum of all acknowledgements sent and received, but only from trusted partners">
				<th>{% trans 'Trusted Balance' %}</th>
				<td>{{ profile.trusted_balance }} {% trans 'hours' %}</td>
			</tr>
			{% if account %}
				<tr>
					<th><a href="{% url relationship profile.username %}"
						   >{%trans 'Balance with Me' %}</a></th>
					<td>{{ account.balance }} {% trans 'hours' %}</td>
				</tr>
			{% endif %}
		</table>
		<p><a href="{% url profile_endorsements profile.username %}">{% trans 'More' %}</a></p>	
	{% endif %}
{% endif %}
