{% extends "home_base.html" %}

{% block title %}Request Invitation{% endblock %}

{% block nav_register_class %}selected{% endblock %}

{% block content %}
<h2>Request Invitation</h2>

<p>Villages is a trust network.  You need to be endorsed by an existing
	user to join.  If you think you belong here, let us know, and if we
	agree, we'll invite you!
</p>

<p>Villages isn't for everyone.  If you:</p>

<ul class="feature">
	<li>Have time and skills to contribute to your local community</li>
	<li>Are willing to make new connections and facilitate new connections 
		for others</li>
	<li>Believe in the need for new economic systems</li>
</ul>

<p>please let us know a bit about yourself and why you wish to participate in 
	Villages.
</p>
<hr>

<form action="" method="post">
	{% csrf_token %}
	<table class="form">
		{{ form }}
		<tr>
			<th></th>
			<td><input type="submit" value="Request Invitation"></td>
		</tr>
	</table>
</form>
{% endblock %}
