{% extends "home_base.html" %}

{% block nav_settings_class %}selected{% endblock %}

{% block content %}
<h2>Account Settings</h2>

<h3>Email</h3>
<form action="" method="post">
	{% csrf_token %}
	<table class="form">
		{{ email_form }}
		<tr>
			<th></th>
			<td><input type="submit" name="email" value="Change Email"></td>
		</tr>
	</table>
</form>

<hr>
<h3>Change Password</h3>
<form action="" method="post">
	{% csrf_token %}
	<table class="form">
		{{ password_form }}
		<tr>
			<th></th>
			<td><input type="submit" name="password" value="Change Password"></td>
		</tr>
	</table>
</form>
{% endblock %}
