{% extends "home_base.html" %}
{% load i18n %}

{% block title %}{% trans 'Account Settings' %}{% endblock %}

{% block nav_settings_class %}selected{% endblock %}

{% block content %}
<h2>{% trans 'Account Settings' %}</h2>

<form action="" method="post">
	{% csrf_token %}
	<table class="form">
		{{ settings_form }}
		<tr>
			<th></th>
			<td>
				<input type="submit" name="change_settings"
					value="{% trans 'Save Settings' %}">
			</td>
		</tr>
	</table>
</form>

<hr>

<h3>{% trans 'Change Password' %}</h3>
<form action="" method="post">
	{% csrf_token %}
	<table class="form">
		{{ password_form }}
		<tr>
			<th></th>
			<td>
				<input type="submit" name="change_password"
					value="{% trans 'Change Password' %}">
			</td>
		</tr>
	</table>
</form>
{% endblock %}
