{% extends "home_base.html" %}
{% load profile %}
{% load i18n %}

{% block title %}{% trans 'Share Villages' %}{% endblock %}

{% block nav_share_class %}selected{% endblock %}

{% block content %}
<h2>{% trans 'Share Villages' %}</h2>

<p>{% blocktrans %}To share Villages with a group of friends, and have their
	invitation requests come to you, share this link:{% endblocktrans %}</p>

<p class="share_link feature">
	<a href="{% share_link request.profile %}"
		>{% share_link request.profile %}</a></p>

<div class="share_buttons line">
	<div class="unit">
		<a name="fb_share" share_url="{% share_link request.profile %}"></a>
		<script src="//s-static.ak.fbcdn.net/connect.php/js/FB.Share"
				type="text/javascript">
		</script>
	</div>
	<div class="unit">
		<a href="https://twitter.com/share" class="twitter-share-button"
			data-url="{% share_link request.profile %}"
			data-text="{% share_link request.profile %}" data-count="none"
			>{% trans 'Tweet' %}</a>
		<script type="text/javascript"
				src="//platform.twitter.com/widgets.js">
		</script>
	</div>
</div>
{% endblock %}
